  #dashboardContainer {
        display: flex;
    }

    #canvasContainer {
        position: relative;
    }

    #coordinatesContainer {
        position: absolute;
        top: 0;
        left: 100%;
        width: 200px;
        margin-left: 10px;
        background-color: rgb(153, 156, 156);
        padding: 10px;
    }

    .red {
        color: red;
    }

    .blue {
        color: rgb(47, 0, 255);
    }

    .green {
        color: rgb(0, 255, 76);
    }

    .yellow {
        color: rgb(229, 255, 0);
    }

